<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="serviciosstyles.css">
    <%- include ('partials/head.html') %>
    
    <title>Document</title>
</head>
<body class="home__body">
    
    <main id="container" class="home__body_container">
        <figure>
            <img class="img_servicios"
            src="images/products_1.jpg"
            alt="">
        </figure>
    <h2 class="titulos">Servicios</h2>
    <div class="home__p-container">
        <p class="home__p_quienessomos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam
            facilis
            beatae error harum dolorum fuga cumque ratione vel eligendi magni dolore
            exercitationem, nisi in quia quidem eos officiis iusto.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima qui, veritatis
            autem odit esse facilis, ipsam at explicabo voluptate similique aperiam dolor et? Nisi
            nulla nam reprehenderit sint non?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam facilis
            beatae error harum dolorum fuga cumque ratione vel eligendi magni dolore
            exercitationem, nisi in quia quidem eos officiis iusto.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima qui, veritatis
            autem odit esse facilis, ipsam at explicabo voluptate similique aperiam dolor et? Nisi
            nulla nam reprehenderit sint non?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam facilis
            beatae error harum dolorum fuga cumque ratione vel eligendi magni dolore
            exercitationem, nisi in quia quidem eos officiis iusto.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima qui, veritatis
            autem odit esse facilis, ipsam at explicabo voluptate similique aperiam dolor et? Nisi
            nulla nam reprehenderit sint non?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam facilis
            beatae error harum dolorum fuga cumque ratione vel eligendi magni dolore
            exercitationem, nisi in quia quidem eos officiis iusto.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum minima qui, veritatis
            autem odit esse facilis, ipsam at explicabo voluptate similique aperiam dolor et? Nisi
            nulla nam reprehenderit sint non?
        </p>
    </div>
</div>
<h2 class="titulos">¿Interesado en contratarnos?</h2>

<button class="contact_button">CONTACTENOS</button>
</main>


<%- include ('partials/menu_movil.html') %>
<%- include ('partials/footer.html') %>
<script src="scripts.js"></script>
</body>
</html>
