<ul id="menu" class="menu invisible">
    <a class="menu_movil_links" href="/#"><li>INICIO</li></a>
    <a class="menu_movil_links" href="/servicios"><li>SERVICIOS</li></a>
    <a class="menu_movil_links" href="/productos"><li>PRODUCTOS</li></a>
    <a class="menu_movil_links" href="/contacto"><li>CONTACTO</li></a>
</ul>
<nav class="home__nav_bar">
    <a href="/#">
        <figure class="home__nav_bar__home_figure"><img class="home_img" src="images/home.png" alt="icono inicio"></figure>
    </a>
    <figure class="home__nav_bar__menu_figure"><img id="menu_button"
            src="https://upload.wikimedia.org/wikipedia/commons/8/8d/VisualEditor_-_Icon_-_Menu.svg"
            alt="icono menu"></figure>
    <ul id="menu_pc" class="menu_pc">
        <a href="/#"><li>Inicio</li></a>
        <a href="/servicios"><li>Servicios</li></a>
        <a href="/productos"><li>Tienda Virtual</li></a>
        <a href="/Contacto"><li>Contacto</li></a>
    </ul>
</nav>