.productos__body{
    background-color:black;
    margin:0 auto;
}

img { 
    width:100%;
}
.img_productos{
    height:60vh;
}

.titulos{
    width:70%;
    text-align: center;
    color:lemonchiffon;
    border-top: 2px solid rgb(179, 61, 61);
    border-bottom: 2px solid rgb(179, 61, 61);
    padding: 1rem;
}

.interesado{
    margin-bottom:5rem;
}

.productos__body_container{
    margin:0 auto;
    
    background-color: rgb(66, 64, 64);
    width:100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.allcards{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card{
    display:flex;
    flex-direction: column;
    width:90%;
    border: 1px solid white;
    border-radius: .5rem;
    padding:0;
    margin-bottom:2rem;
    min-height:55vh;
}


.image_container{
    max-height:50%;
}

.card_figure{
    width:100%;
    height:100%;
    margin:0;
}

.card_img{
    border-radius: .5rem;
    width: 100%;
    height:100%;
}



.card_text{
    width:100%;
    display: flex;
    flex-flow: column wrap;
}

.card_h3{
    color:rgb(224, 217, 217);
    margin:1rem;
    font-size: calc(1vw + 2vh);
}

.card_p{
    color:rgb(224, 217, 217);
    font-size: calc(.6vw + 1.8vh);
    margin:0 0 0 1rem ;
}

.comprar_button{
    width:85%;
    height:3rem;
    margin: 2rem 0 1rem 0;
    color:lemonchiffon;
    font-size: 1.5rem;
    font-weight: 600;
    background-color:rgb(37, 73, 180);
    border-radius:2rem;
    border:none;
    align-self: center;
    flex-shrink: 0;
}
.contact_button{
    width:70%;
    height:5rem;
    margin: 1rem 0 5rem 0;
    padding:.5rem;
    color:lemonchiffon;
    font-size: 1.5rem;
    font-weight: 600;
    background-color:rgb(37, 73, 180);
    border-radius:2rem;
    border:none;
}


@media (min-width : 768px) and (max-width:1024px){
    .allcards{
        flex-flow: row wrap;
        justify-content: center;
    }
    .card{
        width: 40%;
        margin: 1rem 0 0 1rem;
        
    }
    
    
}

@media (min-width : 768px) and (max-width:1024px){
    
    .productos__body_container{
        width:100%;
        margin-top:0;
    }
    }

@media (min-width : 1024px){
    .productos__body_container{
        width:75%;
        margin-top:4rem;
    }
    .allcards{
        flex-flow: row wrap;
        justify-content: center;
    }
    .card{
        width: 20%;
        margin: 1rem 2rem 1rem 2rem;
        min-height:30vh;
        
    }
    .card_h3{
        margin:.5rem;
        font-size: calc(.5vw + 1vh);
    }
    
    .card_p{
        color:rgb(224, 217, 217);
        font-size: calc(.5vw + .9vh);
        margin:0 0 0 1rem ;
    }
  
}